---
import Base from '../layouts/Base.astro';

import Article from '../components/Article.astro';
---


<Base title='One Teaching Design'>

  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">From the blog</h2>
        <p class="mt-2 text-lg leading-8 text-gray-600">Learn how to grow your business with our expert advice.</p>
        <div class="mt-10 space-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16">
          
          <Article 
            date="2024-06-20"
            category="Course Management"
            title="How to Design Effective Syllabi for Your Courses"
            content="Designing an effective syllabus is crucial for ensuring the success of any course. A well-structured syllabus not only establishes a clear plan for the course but also communicates the expectations and learning objectives to the students. Here is a guide on how to design effective syllabi for your courses using our Course Manager module."
            author="Uayeb Caballero"
            authorRole="Faculty"
            url="/blogs/syllabi"
          />

          <Article 
            date="2024-06-20"
            category="Course Management"
            title="How to Define Weekly Pedagogical Objectives"
            content="Defining weekly pedagogical objectives is essential for maintaining focus and direction in the learning process throughout the course. These objectives act as milestones that guide students on their journey towards mastering the course content. Here is a guide on how to define weekly pedagogical objectives using our Course Manager module."
            author="Uayeb Caballero"
            authorRole="Faculty"
            url="/blogs/objectives"
          />
  
          <!-- More posts... -->
        </div>
      </div>
    </div>
  </div>

  </Base>


  