---
import Socialaccess from "../components/Socialaccess.astro";

declare interface socialAccess {
    icon: string;
    name: string;
}

const allNetworks: socialAccess[] = [
  {
    icon: "M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
    , name: "Facebook"
  }
  , {
    icon: "M12 0C8.74182 0 8.33267 0.0143766 7.05275 0.0720631C5.77388 0.130301 4.67441 0.347912 3.74921 0.751542C2.79467 1.16577 2.036 1.7245 1.27733 2.48317C0.518665 3.24184 -0.0390625 4.00054 -0.453285 4.95508C-0.856915 5.88029 -1.07453 6.97976 -1.13277 8.25862C-1.19046 9.53854 -1.20484 9.94769 -1.20484 13.2058C-1.20484 16.4639 -1.19046 16.8731 -1.13277 18.153C-1.07453 19.4319 -0.856915 20.5313 -0.453285 21.4565C-0.0390625 22.4111 0.518665 23.1698 1.27733 23.9284C2.036 24.6871 2.79467 25.2458 3.74921 25.66C4.67441 26.0636 5.77388 26.2812 7.05275 26.3395C8.33267 26.3972 8.74182 26.4115 12 26.4115C15.2582 26.4115 15.6673 26.3972 16.9472 26.3395C18.2261 26.2812 19.3256 26.0636 20.2508 25.66C21.2053 25.2458 21.964 24.6871 22.7227 23.9284C23.4813 23.1698 24.0401 22.4111 24.4543 21.4565C24.8579 20.5313 25.0755 19.4319 25.1337 18.153C25.1914 16.8731 25.2058 16.4639 25.2058 13.2058C25.2058 9.94769 25.1914 9.53854 25.1337 8.25862C25.0755 6.97976 24.8579 5.88029 24.4543 4.95508C24.0401 4.00054 23.4813 3.24184 22.7227 2.48317C21.964 1.7245 21.2053 1.16577 20.2508 0.751542C19.3256 0.347912 18.2261 0.130301 16.9472 0.0720631C15.6673 0.0143766 15.2582 0 12 0ZM12 2.18466C15.2262 2.18466 15.5905 2.19865 16.852 2.25499C18.0192 2.30829 18.8922 2.51067 19.5115 2.77276C20.1836 3.05512 20.6722 3.42311 21.1857 3.93657C21.6992 4.45003 22.0672 4.93861 22.3495 5.61075C22.6116 6.22997 22.814 7.10294 22.8673 8.27019C22.9236 9.53167 22.9375 9.89593 22.9375 13.1221C22.9375 16.3483 22.9236 16.7125 22.8673 17.974C22.814 19.1412 22.6116 20.0142 22.3495 20.6334C22.0672 21.3056 21.6992 21.7941 21.1857 22.3076C20.6722 22.821 20.1836 23.189 19.5115 23.4714C18.8922 23.7335 18.0192 23.9359 16.852 23.9892C15.5905 24.0455 15.2262 24.0595 12 24.0595C8.77374 24.0595 8.40948 24.0455 7.14799 23.9892C5.98075 23.9359 5.10778 23.7335 4.48856 23.4714C3.81642 23.189 3.32784 22.821 2.81438 22.3076C2.30092 21.7941 1.93294 21.3056 1.65058 20.6334C1.38848 20.0142 1.1861 19.1412 1.13279 17.974C1.07645 16.7125 1.06245 16.3483 1.06245 13.1221C1.06245 9.89593 1.07645 9.53167 1.13279 8.27019C1.1861 7.10294 1.38848 6.22997 1.65058 5.61075C1.93294 4.93861 2.30092 4.45003 2.81438 3.93657C3.32784 3.42311 3.81642 3.05512 4.48856 2.77276C5.10778 2.51067 5.98075 2.30829 7.14799 2.25499C8.40948 2.19865 8.77374 2.18466 12 2.18466ZM12 5.39735C8.61383 5.39735 5.82228 8.18891 5.82228 11.575C5.82228 14.9612 8.61383 17.7528 12 17.7528C15.3862 17.7528 18.1777 14.9612 18.1777 11.575C18.1777 8.18891 15.3862 5.39735 12 5.39735ZM12 8.28188C14.0506 8.28188 15.6931 9.92439 15.6931 11.975C15.6931 14.0257 14.0506 15.6682 12 15.6682C9.94933 15.6682 8.30682 14.0257 8.30682 11.975C8.30682 9.92439 9.94933 8.28188 12 8.28188ZM19.6026 4.71925C19.1451 4.71925 18.7892 5.07519 18.7892 5.53275C18.7892 5.99031 19.1451 6.34626 19.6026 6.34626C20.0602 6.34626 20.4161 5.99031 20.4161 5.53275C20.4161 5.07519 20.0602 4.71925 19.6026 4.71925Z"
    , name: "Instagram"
  }
  , {
    icon: "M13.6823 10.6218L20.2391 3H18.6854L12.9921 9.61788L8.44486 3H3.2002L10.0765 13.0074L3.2002 21H4.75404L10.7663 14.0113L15.5685 21H20.8131L13.6819 10.6218H13.6823ZM11.5541 13.0956L10.8574 12.0991L5.31391 4.16971H7.70053L12.1742 10.5689L12.8709 11.5655L18.6861 19.8835H16.2995L11.5541 13.096V13.0956Z"
    , name: "X"
  }
  , {
    icon: "M19.812 5.418c.861.23 1.538.907 1.768 1.768C21.998 8.746 22 12 22 12s0 3.255-.418 4.814a2.504 2.504 0 0 1-1.768 1.768c-1.56.419-7.814.419-7.814.419s-6.255 0-7.814-.419a2.505 2.505 0 0 1-1.768-1.768C2 15.255 2 12 2 12s0-3.255.417-4.814a2.507 2.507 0 0 1 1.768-1.768C5.744 5 11.998 5 11.998 5s6.255 0 7.814.418ZM15.194 12 10 15V9l5.194 3Z"
    , name: "YouTube"
  }
  , {
    icon: "M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
    , name: "GitHub"
  }
]

---

<footer class="bg-white" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
      <div class="xl:grid xl:grid-cols-3 xl:gap-8">
        <div class="space-y-8">
          <img class="h-16" src="/Images/logo.png" alt="One Teaching Design">
          <p class="text-sm leading-6 text-gray-600">Empowering educators to truly change students’ lives.</p>
          <div class="flex space-x-6">

            {allNetworks.map((network) => (
              <Socialaccess icon={network.icon} name={network.name} />
            ))}

          </div>
        </div>
        <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
          <div class="md:grid md:grid-cols-2 md:gap-8">
            <div>
              <h3 class="text-sm font-semibold leading-6 text-gray-900">Support</h3>
              <ul role="list" class="mt-6 space-y-4">
                <li>
                  <a href="#" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Pricing</a>
                </li>
                <li>
                  <a href="#" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Guides</a>
                </li>
              </ul>
            </div>
            <div class="mt-10 md:mt-0">
              <h3 class="text-sm font-semibold leading-6 text-gray-900">Company</h3>
              <ul role="list" class="mt-6 space-y-4">
                <li>
                  <a href="#" class="text-sm leading-6 text-gray-600 hover:text-gray-900">About</a>
                </li>

                <li>
                  <a href="#" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Jobs</a>
                </li>

              </ul>
            </div>
          </div>
          <div class="md:grid md:grid-cols-2 md:gap-8">
            <div>
              <h3 class="text-sm font-semibold leading-6 text-gray-900">Legal</h3>
              <ul role="list" class="mt-6 space-y-4">
                <li>
                  <a href="#" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Claim</a>
                </li>
                <li>
                  <a href="#" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Privacy</a>
                </li>
                <li>
                  <a href="#" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Terms</a>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
      <div class="mt-16 border-t border-gray-900/10 pt-8 sm:mt-20 lg:mt-24">
        <p class="text-xs leading-5 text-gray-500">&copy; 2024 AU Company, Inc. All rights reserved.</p>
      </div>
    </div>
  </footer>